<!-- The file that gets displayed to the user -->

<!DOCTYPE html>

<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,height=device-height,initial-scale=1.0" />
    <meta name="description" content="About datestamp adder, add original datestamp to picture/image from metadata.">
    <link rel="icon" type="image/png" href="icon.png" />
    <title>About</title>
    <link href="https://fonts.googleapis.com/css2?family=Oxygen:wght@300&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="style.css">
</head>

<body>
    <header>
        <a href="/home">Back</a>
    </header>

    <h1>About</h1>
    <h2>Upload an image, and then a datestamp will get added</h2>
    <h2 style="visibility: hidden" id="uploadcounts">Total Uploads Worldwide: <%= typeof uploadcount !='undefined' ? uploadcount : '' %>
    </h2>
    <p>Automatically add a datestamp to your image using the date it was taken. You are able to customize the 
        color, font size, date format, and the position of the datestamp. Want to customize an image you 
        already uploaded? No problem, simply change the settings you want and hit the upload button again!</p>
    <p>This website was made by <a href="https://github.com/kna27" target="_blank">Krish Arora</a> 
        and <a href="https://github.com/azhang45" target="_blank">Alice Zhang</a> for the Intro 
        to Computer Science end of year project.</p>
    <p><a href="https://github.com/kna27/datestamp-adder" target="_blank">GitHub Repo</a></p>
    <br>
    <h2><a href="/home">Upload an Image</a></h2>
</body>

<script src="counter.js"></script>

</html>