<!-- The file that gets displayed to the user -->

<!DOCTYPE html>

<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,height=device-height,initial-scale=1.0" />
    <link rel="icon" type="image/png" href="icon.png"/>
    <title>Datestamp Adder</title>
    <link href="https://fonts.googleapis.com/css2?family=Oxygen:wght@300&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="style.css">
</head>

<body>
    <h1>Datestamp Adder</h1>
    <h2>Upload an image, and then a datestamp will get added</h2>

    <!-- The message that gets displayed about the status of the uploaded file -->
    <p><%= typeof msg !='undefined' ? msg : '' %></p>

    <!-- The form buttons -->
    <form action="/upload" method="POST" enctype="multipart/form-data">
        <!-- The file upload input -->
        <input type="file" name="img" class="upload-img"/>
        <!-- The submit button -->
        <button type="submit">Submit</button>

        <h3>Datestamp Position</h3>
        <input type="radio" id="tl" name="pos" value="tl">
        <label for="tl">Top Left</label>
        <input type="radio" id="tr" name="pos" value="tr">
        <label for="tr">Top Right</label>
        <input type="radio" id="bl" name="pos" value="bl">
        <label for="bl">Bottom Left</label>
        <input type="radio" id="br" name="pos" value="br">
        <label for="bl">Bottom Right</label>
        <br>
        <br>
        <select name="color" id="color">
            <option value="orange" selected>Orange</option>
            <option value="black">Black</option>
            <option value="white">White</option>
        </select>
        <select name="fontsize" id="fontsize">
            <option value="32">32</option>
            <option value="64" selected>64</option>
            <option value="128">128</option>
        </select>
        <select name="dateformat" id="dateformat">
            <option value="dateandtime12" selected>Date and Time (12hr)</option>
            <option value="dateandtime24">Date and Time (24hr)</option>
            <option value="date">Date</option>
            <option value="time12">Time (12hr)</option>
            <option value="time24">Time (24hr)</option>
        </select>
    </form>
    <br>
    <!-- The image that gets displayed to the user -->
    <img src="<%= typeof file != 'undefined' ? file : ''%>" class="responsive-img">
    <div style="display:<%= typeof file == 'undefined' ? 'none' : 'block'%>">
        <a href="<%= typeof file != 'undefined' ? file : ''%>" download="img">
            <button type="button">Download</button>
        </a>
    </div>
</body>

</html>