<!DOCTYPE html>

<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,height=device-height,initial-scale=1.0" />
    <title>Datestamp Adder</title>
    <link rel="stylesheet" href="style.css">
</head>

<body>
    <h1>Datestamp Adder</h1>
    <h2>Upload an image, and then a datestamp will get added</h2>
    <%= typeof msg != 'undefined' ? msg : ''%>
    <form action="/upload" method="POST" enctype="multipart/form-data">
        <input type="file" name="imageField" />
        <button type="submit">Submit</button>
    </form>
    <br>
    <img src="<%= typeof file != 'undefined' ? file : ''%>" class="responsive-img">
</body>

</html>